<table>
    <tr>
        <td><span>HotMarketsSeconds</span></td>
        <td><input type="text" id="insert_hotmarketsseconds"/></td>
    </tr>
    <tr>
        <td><span>Percentage</span></td>
        <td><input type="text" id="insert_Percentage"/></td>
    </tr>
    <tr>
        <td><span>RiskValue</span></td>
        <td><input type="text" id="insert_RiskValue"/></td>
    </tr>
    <tr>
        <td><span>NewMarketsPeriod</span></td>
        <td><input type="text" id="insert_NewMarketsPeriod"/></td>
    </tr>
</table>
<button type="button"  onclick="javascript:top.InsertConfig();">Save</button>
<script type="text/javascript">

    $(document).ready(function () {
        alert("here");
    })
</script>