<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Account/Login.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Account/Register.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <add name="botfair" connectionString="Data Source=localhost;Initial Catalog=botfair;Persist Security Info=True;User ID=sa;Password=gegengift" providerName="System.Data.SqlClient" />
    <add name="membershipdb" connectionString="Data Source=localhost;Initial Catalog=MemberShipDB;Persist Security Info=True;User ID=sa;Password=gegengift" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <!--<location path="WebResource.axd" allowOverride="true">
    <system.webServer>

      <security>

        <authentication>

          <anonymousAuthentication enabled="true"/>

        </authentication>

      </security>

    </system.webServer>
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>-->
  <log4net>
    <!--<appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        -->
    <!-- Pattern to output the caller's file name and line number -->
    <!--
        <conversionPattern value="%5level - %message%newline"/>
      </layout>
    </appender>-->
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="bot.log" />
      <appendToFile value="false" />
      <maximumFileSize value="10000KB" />
      <maxSizeRollBackups value="3" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %level - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="Console" />
      <appender-ref ref="RollingFile" />
    </root>
    <logger name="NHibernate">
      <level value="DEBUG" />
    </logger>
  </log4net>
  <appSettings>
    <add key="ipc_port" value="BF" />
    <add key="process" value="c:\programming\BotFair2\Bot\bin\Debug\"/>
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        validate="false" />
    </httpHandlers>
    <globalization culture="de" uiCulture="de" />

    <!--<processModel enable="true" userName="system" password="AutoGenerate" />-->
    <!--<customErrors defaultRedirect="~/501.htm" />-->
    <authorization>
      <deny users="?" />
      <allow roles="admin" />
    </authorization>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>

      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" defaultUrl="Default.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="membershipdb" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="membershipdb" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="membershipdb" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <!--<defaultDocument>
      <files>
        <add value="Default.aspx" />
      </files>
    </defaultDocument>-->
    <security>
      <!--<authorization>
        <remove users="*" roles="" verbs="" />
        <add accessType="Allow" roles="admin" />
      </authorization>
      <authentication>
        <windowsAuthentication enabled="false" />
        <basicAuthentication enabled="false" />
        <anonymousAuthentication enabled="true" />
        
      </authentication>-->
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".axd" allowed="true" />
        </fileExtensions>
        <hiddenSegments>
          <add segment="log" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="">
        <network host="smtp.gmail.com" password="gegengift" userName="chrisiDC@gmail.com" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>